div.browser > div.container{
    box-shadow: 1px 1px 10px black;
    padding: 20px;
}

div.pagination-handler {
    padding: 20px;
    margin-top: 30px;
}

div.pagination-handler p:hover {
    color: green;
}