body {
    height: 100%;
}

.user-panel {
    width: 100%;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    font-weight: bold;
}

div.user-panel h1 {
    padding-bottom: 15px;
}

.backend-response {
    margin-top: 10px;
}